@tailwind base;
@tailwind components;
@tailwind utilities;

.content{
  position: relative;
  margin-left: 250px;
  min-height: 100vh;
  height: auto;
  background-color: #F8F8FF;
  overflow: hidden;
}

.title{
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: black;
}

#titleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 2rem);
  height: 200px;
}

#imageText{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100% + 2rem);
  gap: 20px;
}

#image{
  position: relative;
  max-width: 50%;
  left: 380px;
}

#text{
  position: relative;
  max-width: 50%;
}

#imageHoriz{
  display: flex;
  justify-content: center;
  width: calc(100% + 2rem);
}

#imagePUJ{
  position: relative;
  width: 910px;
  right: 16px;
  margin-top: 20px;
}